* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #0f0422;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 90vh;
  width: 70vw;
  border-radius: 1rem;
  background-color: #391f67;
}
