@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #0f0422;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 10vh;
  height: 85vh;
  width: 70vw;
  border-radius: 1rem;
  background-color: #391f67;
}

#content {
  padding: 10vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#content h2 {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  line-height: 3.5rem;
}

#content h2 span {
  color: #aa5cdb;
}

#content p {
  color: rgb(255, 255, 255, 0.6);
}

.stats-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.stats {
  text-align: center;
  color: #ffffff;
}

.stats span {
  font-size: 24px;
  font-weight: 700;
}

.stats h6 {
  margin: 1.5vh 0;
  font-size: 12px;
  font-weight: normal;
}

.col-md-6 {
  height: 85vh;
  width: 35vw;
}

#wrapper {
  background-image: url("../images/main.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0 1rem 1rem 0;
}

#overlay {
  width: 35vw;
  height: 85vh;
  border-radius: 0 1rem 1rem 0;
  position: absolute;
  background-color: #c550ff46;
  z-index: 99;
  margin-left: 35vw;
}

@media screen and (max-width: 1215px) {
  .container {
    display: none;
  }
}
